# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual environments
.venv/
env/
venv/

# Datasets
datasets/
data/
*.zip
*.tar.gz

# models and results
**/model/
experiments/
**/runs/
*.pth
*.pt
*.ckpt
*.log

# critical config files
*.yaml
*.yml
# EXCEPTO los de configuraciones públicas
!**/configs/*.yaml
!docker-compose.yml

# temporal files
*.tmp
*.bak
*.swp
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# Docker
*.pid
*.sock

/.luarc.json

# Quarto
**/_site/

# excel files
*.xlsx
*.xls

# modules/ files to ignore (excels, images, etc.)
**/modules/**/runs/

# ignore all the experiments folders
**/experiments/